<div class="col-md-4">

    <h3 class="top-title block-title"><span>{{ category }}</span></h3>
    {% for item in posts %}
        <article class="news-block small-block">

            <a href="{{ path('article',{slug:item.slug}) }}" class="overlay-link">
                <figure class="image-overlay">
                    {% if item.image != "" %}
                    <img src="{{ asset(item.image) | imagine_filter('350x230') }}" alt="{{ item.title }}"/>
                    {% endif %}
                </figure>
            </a>

            <a href="{{ path('article',{slug:item.slug}) }}" class="category">
                {{ item.category }}
            </a>
            <header class="news-details">
                <h3 class="news-title">
                    <a href="{# path('article',{slug:item.slug}) #}">
                        {{ item.title }}
                    </a>
                </h3>
                <p class="simple-share">
                    par <a href="#"><b>Djouza</b></a> -
                    <span class="article-date"><i class="fa fa-calendar"></i> {{ item.dcr |date('d/m/Y') }}</span>
                </p>
            </header>
        </article>
    {% endfor %}
</div>